<% @comments.each do |comment| %>
  <div class="media">
    <div class="media-body">
      <h4 class="media-heading">
        <%= comment.body %>
      </h4>
      <small>
        submitted <%= time_ago_in_words(comment.created_at) %> ago by 
        <em><%= comment.user.name %></em><br/>
        <% if policy(comment).destroy? %>
          <%= link_to "Delete", [@topic, @post, comment], method: :delete%>
        <% end %>
      </small>
    </div>
  </div>
<% end %>